<!--/*--><root><![CDATA[<!--*/-->  


body
{
	background-color: #ffffff;
	color: #000000;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,600,700');

@media screen {
	
	.Top {
	width:95%;
	margin: 1px;
	/**border:1px solid gray;
	background-color: #eeeeee;*/
	padding:1em;
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	font-size: 13px;
	}

	.No-line-top {
	width:95%;
	margin: 1px;
	padding:1em;
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	font-size: 13px;
	}
	
	.Header {
	width: 100%;
	/*border:1px solid black;*/
	overflow: visible;
	padding: 1px;
	}
	
	.No-line-header {
	width: 100%;
	overflow: visible;
	padding: 1px;
	}
	
	.HeaderContent {
	width: 100%;
	padding: 1px;
	}
	
	.No-line-headerContent {
	width: 100%;
	padding: 1px;
	line-height: 20px;
	}
	
	.Caption {
	width: 100px;
	padding:1px;
	margin-right: 2px;
	float: left;
	clear: both;
	font-weight: bold;
	}
	.Document .Caption {
		background-color: #CAE8EA;
	}
	
	.No-line-caption {
	width: 100px;
	padding:1px;
	margin-right: 2px;
	float: left;
	clear: both;
	font-weight: bold;
	font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
	display: inline-block;
	width: 15%;
	min-width: 100px;
	}
	.No-line-caption.servprov {
		padding-top: 4px;
	}
	
	.Content, .No-line-content {
	padding:1px;
	background-color:  white;
	margin-right: 1px;
	}
	.No-line-content {
	display: inline-block;
    width: 65%;
	}
	.inline-content div {
	display: inline;
	}

	.Content div, .No-line-content div {
	display:inline;
	}
	
	.NoScreen {
	display: none;
	}
	
	input:checked+table {
	display: none;
	}
	.VisSkjul {
	margin-left: 5px;
	color: blue;
	cursor: pointer;
	}

	.VisSkjul:after {
	content:"\A";
	white-space: pre;
	}
	.Document h1 {
		color:white;
		background-color:gray;
	}
	.Document h2 {
		color:white;
		background-color:gray;
	}
	.Document .summary h2 {
		background-color: #fff;
	}
	.No-line-doc  .summary h2,
	.One-line-doc  .summary h2 {
		background-color:#e3e3e3;
	}
	.No-line-doc .summary table,
	.One-line-doc .summary table {
		background-color: #e3e3e3;
	}
	.Document .summary h2 {
		background-color: #ecece7;
	}
	.Document .summary table{
		background-color: #ecece7;
	}
	.Document .summary {
		box-shadow: 1px 1px 8px 1px #6d6a60;
	}
}

@media print {

	.Top, .No-line-top {
	margin: 1px;
	font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
	font-size: 12px;
	overflow: visible;
	}

	.HeaderContent, .No-line-headerContent {
	width: 47.5%;
	height: 82px;
	min-height: 82px;
	max-height: 82px;
	border: solid black 1px;
	padding: 0.5em;
	float: left;
	overflow: hidden;
	}
	
	.Caption, .No-line-caption {
	float: left;
	display:inline;
	font-weight: bold;
	}
	
	.NoPrint {
	display: none;
	}
	
	input:checked+table {
	display: block;
	}

	.VisSkjul {
	display: none;
	}
	.Document h1 {
		color: #000;
		background-color: #fff;
	}
	.Document h2 {
		color: #000;
		background-color: #fff;
	}
	.Document .summary h2 {
		background-color: #fff;
	}
	.Document .summary {
		background-color: #ffffff;
	}
	.Document .summary,
	.One-line-doc .summary,
	.No-line-doc .summary {
		border: 1px solid #6d6a60;
	}

}

div {
	min-height: 12px;
}

.Document {
width:95%;
clear:left;
margin: 1px;
border:1px solid gray;
padding:1em;
background-color: #eeeeee;
font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
font-size: 14px;
}

.No-line-doc, .One-line-doc {
width:95%;
clear:left;
margin: 1px;
padding:1em;
font-family: 'Open Sans', Verdana, Helvetica, sans-serif;
font-size: 14px;
}

.Document h1 {
padding:0.3em;
border:1px solid gray;
font-size: 1.8em;
margin-bottom:0.3em;
margin-top:0em;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
}

.No-line-doc h1, .One-line-doc h1 {
padding:0.1em;
font-size: 1.8em;
line-height:0.7em;
margin-bottom:0.3em;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
}

.Document h2 {
padding:0.4em;
border:1px solid gray;
font-size: 1.4em;
line-height:0.7em;
margin-bottom:0.3em;
margin-top:0.3em;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
}

.No-line-doc h2, .One-line-doc h2 {
padding:0.1em;
font-size: 1.4em;
line-height:1em;
margin-top:1em;
margin-bottom:0em;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
}

.summary h2 {
	margin-top: 0;
	margin-bottom: 0;
	border: none;
}
.Document .summary {
	margin: 10px;
}
.No-line-doc  .summary h2,
.One-line-doc  .summary h2,
.Document .summary h2	{
	padding-top:1em; 
	padding-left:1em; 
	margin-left:0em;
}
.No-line-doc  .summary h2,
.One-line-doc  .summary h2 {
	margin-top:0em; 
}
.Document .summary h2 {
	color: #000;
}
.Document .summary table{
	border: none;
}
.No-line-doc  .summary td,
.One-line-doc  .summary td,
.Document   .summary td {
	background-color: inherit; 
}
.Document h3 {
padding:0.2em;
color:black;
font-size: 1.2em;
line-height:0.1em;
margin-bottom:0.3em;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
}

.No-line-doc h3, .One-line-doc h3 {
padding:0.2em;
font-size: 1.3em;
line-height:1em;
margin-bottom:0.3em;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
}

.Document table {
border:1px solid black;
width:100%;
}

.No-line-doc table, .One-line-doc table {
width:100%;
}

.Document th {
background-color: #CAE8EA;
border-style:none;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
font-size: 14px;
text-align: left;
vertical-align: top;
width: 100px;
font-weight: normal;
padding-right: 5px;
}

.One-line-doc th {
border-top: 1px solid lightgrey;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
font-size: 14px;
text-align: left;
vertical-align: top;
width: 100px;
padding: 4px 5px 4px 2px;
font-weight: normal;
color: #826b35;
}

.No-line-doc th {
border-style:none;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
font-size: 14px;
text-align: left;
vertical-align: top;
width: 100px;
font-weight: normal;
padding-right: 5px;
color: #826b35;
}

.Document td {
background-color: white;
border-style: none;
text-align: left;
vertical-align: top;
font-size: 14px;
}

.No-line-doc tr.striped {
	background-color: #f3f3f3;
}

.One-line-doc td {
border-top: 1px solid lightgrey;
background-color: white;
text-align: left;
vertical-align: top;
font-size: 14px;
padding: 4px 2px 4px 2px;
}

.No-line-doc td {
border-style: none;
text-align: left;
vertical-align: top;
font-size: 14px;
}

.Document th.h2 {
color:white;
background-color: gray;
border:1px solid gray;
font-size: 1em;
line-height:0.9em;
width: 100px;
}

.One-line-doc th.h2 {
border-top: 1px solid lightgrey;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
font-size:1.3em;
text-align: left;
vertical-align: top;
width: 100px;
padding: 4px 2px 4px 2px;
}

.No-line-doc th.h2 {
border-style:none;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
font-size:1.3em;
text-align: left;
vertical-align: top;
width: 100px;
}

.Document th.h3 {
background-color: gray;
color:white;
}

.One-line-doc th.h3 {
border-top: 1px solid lightgrey;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
font-size:1.2em;
text-align: left;
vertical-align: top;
width: 100px;
padding: 4px 2px 4px 2px;
}

.No-line-doc th.h3 {
border-style:none;
font-family: 'Montserrat', Verdana, Helvetica, sans-serif;
font-size:1.2em;
text-align: left;
vertical-align: top;
width: 100px;
}

td.Emphasized {
background-color:#CAE8EA;
width: 100px;
}
.strong {
	font-weight: 600;
}
.viktig {
color: red;
}
.horRuler hr {
	border: 1px dotted #d6d6d6;
}
.Box {
border:1px solid black;
padding:1px;
overflow: hidden;
line-height: 24px;
}
.Document .Box {
background-color: #fff;
}
	
.MainCaption {
padding:1px;
margin: 1px;
display: inline;
font-weight: bold;
font-size: 13px;
}
.Document .MainCaption {
	background-color: #CAE8EA;
	display: inline-block;
	padding-left: 2px;
	padding-right: 5px;
	margin-right: 0;
}
.MainContent {
padding:1px;
padding-right:5px;
background-color:  white;
margin: 1px;
display: inline;
font-size: 13px;
}
.Document .MainContent {
	margin-left: 0;
}

.Block {
float: left;
width: 32%;
}
.Document .Block {
	border: 2px solid #eeeeee;
}
.Box .Block:last-child {
	float: none;
	overflow: hidden;
	width: auto;
}

#FellesMeny ul { 
margin: 0;
padding: 0; 
list-style-type: none; 
list-style-image: none;
font-size: 1.03em;
}

#FellesMeny li { 
display:inline;
}

#FellesMeny a {
text-decoration:none;
color: blue;
white-space:nowrap;
padding-right:1em;
width:15em;
}

#FellesMeny a:hover {
color: purple;
}

@media print {
	.Document th.h3 {
		color: #000;
		font-weight: 600;
	}
}

<!--/*-->]]></root><!--*/--> 
